<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Cart</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}" />
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
    <script src="{% static 'js/jquery.easing.min.js' %}"></script>
    <script src="{% static 'js/jquery.colorbox-min.js' %}"></script>
    <script src="{% static 'js/jquery.ez-plus.js' %}"></script>
    <script src="{% static 'js/myjs.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
        var quantity=0;
        var q = '#quantity_';
        var id='';
           $('.quantity_right_plus').click(function(e){
                e.preventDefault();
                id = $(this).attr('id');
                str = q.concat(id.toString());
                quantity = parseFloat($(str).val());
                $(str).val(quantity + 0.5);
           });
             $('.quantity_left_minus').click(function(e){
                e.preventDefault();
                id = $(this).attr('id');
                str = q.concat(id.toString());
                quantity = parseFloat($(str).val());
                if(quantity>0.5)
                {  $(str).val(quantity - 0.5); }
           });
        });
    </script>
</head>
<body style="height: 100%;">
{% include "./header.html" %}
<div class="container-fluid row px-3 m-0">
    {% if cart_count > 0 and not order_message %}
    <div class="col-md-9 px-0">
        <h4 class="text-muted text-center pt-4">CART</h4>
        {% for items in items_details %}
            {% for item_detail in items %}
                <div class="row p-3 m-2 shadow-sm cart_item ">
<!--                    <div class="col-lg-10">-->
                    <a class="order_img p-0 col-lg-3" href="/{{item_detail.gender}}/{{item_detail.category}}/a={{item_detail.art_no}}&l={{item_detail.leather_1}}">
                        <img class="img-thumbnail" src="{% static 'images/article/thumbnil/' %}{{item_detail.art_no.strip }}_{{item_detail.leather_1.strip }}_0.jpg" class="card-img-top img-fluid" alt="{{item_detail.art_no}}">
                    </a>
<!--                    </div>-->
                    <div class="col-lg-4 p-4">
                    <h5 class="text-muted m-0">{{item_detail.last.strip}}</h5>
                    <p class="text-muted m-0">{{item_detail.art_no.strip}}</p>
                    <h5 class="text-muted m-0">SIZE RANGE</h5>
                    <p class="text-muted m-0">{{item_detail.size}}</p>
                    <h5 class="text-muted m-0">DESCRIPTION</h5>
                    {% if item_detail.leather_1 %}
                        <p class="text-muted m-0">
                            <span class="h6">LEATHER 1:</span>
                            <span class="text-muted m-0 ps-2">{{item_detail.leather_1.strip}}</span>
                        </p>
                    {% endif %}
                    {% if item_detail.leather_2 %}
                         <p class="text-muted m-0">
                            <span class="h6">LEATHER 2:</span>
                            <span class="text-muted m-0 ps-2">{{item_detail.leather_2.strip}}</span>
                        </p>
                    {% endif %}
                    {% if item_detail.lining_1 %}
                        <p class="text-muted m-0">
                            <span class="h6">LINING 1:</span>
                            <span class="text-muted m-0 ps-2">{{item_detail.lining_1.strip}}</span>
                        </p>
                    {% endif %}
                    {% if item_detail.lining_2 %}
                        <p class="text-muted m-0">
                            <span class="h6">LINING 2:</span>
                            <span class="text-muted m-0 ps-2">{{item_detail.lining_2.strip}}</span>
                        </p>
                    {% endif %}
                         <p class="text-muted m-0">
                            <span class="h6">SOCKS:</span>
                            <span class="text-muted m-0 ps-2">{{item_detail.socks_design.strip}}</span>
                        </p>
                        <p class="text-muted m-0">
                            <span class="h6">SOLE:</span>
                            <span class="text-muted m-0 ps-2">{{item_detail.sole.strip}}</span>
                        </p>
<!--                    {% for each in cart_details %}-->
<!--                    {% if each.0 == item_detail.sl %}-->
<!--                        {{each.0}}{{each.1}}{{each.2}}-->
<!--                    {% endif %}-->
<!--                    {% endfor %}-->
                    </div>
                    <form class="row col-lg-5" method="POST" action="/updateCart/{{item_detail.sl}}" id="update_cart_form" autocomplete="off">
                    <div class="col-lg-10 p-1 align-self-center">

<!--                    <form id="cart_items" autocomplete="off">-->
                        {%csrf_token%}
                        {% for info in cart_details %}
                        {% if info.0 == item_detail.sl %}
                        <div class="form-floating m-3">
                            <textarea type="text" name='note_{{item_detail.sl}}' id='note_{{item_detail.sl}}' class="form-control p-4" placeholder="Leave a note here" id="floatingTextarea2" style="height: 100px">{{info.2}}</textarea>
                            <label for="floatingTextarea2">Notes</label>
                        </div>
                        <div class="input-group px-3">
                            <span class="input-group-btn">
                                <button type="button" id='{{item_detail.sl}}' class="quantity_left_minus btn btn-danger btn-number mt-2" data-type="minus" data-field="">
                                  <i class="bi bi-dash-lg"></i>
                                </button>
                            </span>
                            <input type="number" name="quantity_{{item_detail.sl}}" id="quantity_{{item_detail.sl}}" name="quantity" class="form-control input-number mt-2" value="{{info.1}}" min="0.5" max="100" step="any">
                            <span class="input-group-btn pe-2">
                                <button type="button" id='{{item_detail.sl}}' class="quantity_right_plus btn btn-success btn-number mt-2" data-type="plus" data-field="">
                                    <i class="bi bi-plus-lg"></i>
                                </button>
                            </span>
<!--                             <button class="btn btn-danger rounded ps-2 mt-2">Remove from cart <i class="bi bi-cart-x"></i></button>-->
                            <button type="button" class="btn btn-danger rounded ps-2 mt-2" onclick="location.href = '/removeFromCart/{{item_detail.sl}}'">Remove from cart <i class="bi bi-cart-x"></i></button>
                        </div>

                    </div>
                     <div class="col-lg-2 align-self-center text-end px-3">
                        <button type="submit" class="btn btn-success rounded ps-2 mt-2">Save <i class="bi bi-save2"></i></button>
                    </div>
                    </form>
                    {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
    <div class="col-md-3 px-0 pb-2">
        <h4 class="text-muted text-center pt-4">Order Summary</h4>
        <form class="px-3" method="POST" action="/placeOrder" id="checkout_form" autocomplete="off">
            {%csrf_token%}
            <p class="text-muted m-0">
                <span class="h5">Total Pairs:</span>
                <span class="text-muted m-0 ps-2">{{total_pairs}}</span>
            </p>
            {% if session_full_name == None %}
            <button type="button" class="btn btn-primary rounded ps-2 mt-2 " onclick="location.href = '/signin'">Sign in & Checkout <i class="bi bi-bag-check"></i></button>
            {% else %}
            <button type="submit" id="order_place" class="btn btn-primary rounded ps-2 mt-2 ">Place order <i class="bi bi-bag-check"></i></button>
            {% endif %}
        </form>
    </div>
    {% elif order_message %}
        <script>
            alert("{{ order_message }}");
        </script>
        <script>window.location="/cart";</script>
    {% else %}
        <h2 class="text-muted text-center pt-4">CART IS EMPTY</h2>
    {% endif %}
</div>
{% include "./footer.html" %}
</body>
</html>