<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Apex Catalogue</title>
    {% load static %}
</head>
<body >
{% include "./header.html" %}
<div class="container-fluid p-0 m-0">
    <div class="container-fluid py-0 px-3 mt-3" style="position:relative">
        <div class="row m-0 p-0">
            <div class="row m-0 p-0">
                <img class="col-4 m-0 p-0 rounded-start" src="{% static 'img/man-wearing.jpg' %}" alt="home" />
                <img class="col-4 m-0 p-0" src="{% static 'img/beach-blurred.jpg' %}" alt="home" />
                <img class="col-4 m-0 p-0 rounded-end" src="{% static 'img/woman-holding.jpg' %}" alt="home" />
            </div>
        </div>
        <div class="row text-center m-0 p-0" style="position: absolute;top:0;left:0;z-index:1;bottom:0;right:0;height:100%;">
            <div class="align-self-center">
                <h1 style="font-weight:bold;font-size:4.2vw; text-shadow:2px 2px 11px #000000;color:#FFFFFF;">
                    APEX <br> COLLECTIONS
                </h1>
                <p style="font-weight:bold;font-size:1.7vw;text-shadow:4px 2px 15px #000000;color:#FFFFFF">SPRING SUMMER 2022</p>
            </div>
        </div>
    </div>
    <div class="container-fluid px-3 my-0">
        <div class="row m-0 p-0 text-center">
            <div class="align-self-center p-0">
<!--                <h1 class="p-3 m-3" style="font-family:'Work Sans',sans-serif;font-weight:bold;font-size:2.5vw;letter-spacing:3px;">-->
                <h1 class="p-3 m-3 h3" style="font-weight:bold;letter-spacing:3px;color:#4d4d4d;">
                    FEATURED CATEGORIES
                </h1>
            </div>
        </div>
    </div>
    <div class="container-fluid px-3 my-0">
        <div class="row m-0 p-0 ">
            {% if gender_list %}
            {% for g in gender_list %}
            <div class="col-4 px-1" style="position:relative">
                <a href="{{ g.gender }}/pg=1">
                    <img class="col-12 img-fluid rounded-1" src="{% static 'img/' %}{{g.gender}}.jpg " alt="{{ g.gender }}" />
                    <div class="row text-center m-0 p-0" style="position: absolute;top:0;left:0;z-index:1;bottom:0;right:0;height:100%;letter-spacing:2px;">
                        <div class="align-self-center category_feature">
                            <h4 style="font-weight:bold;color:#FFFFFF;">
                                <span class="rounded-1" style="background: rgb(255, 255, 255);padding: 5% 15%;color:rgb(0,0,0);opacity: 0.7;font-size: 2vw;">
                                    {{ g.gender }}
                                </span>
                            </h4>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="container-fluid px-3 my-0">
        <div class="row m-0 p-0 text-center">
            <div class="align-self-center p-0">
                <h1 class="p-3 m-3 h3"  style="font-weight:bold;letter-spacing:3px;color:#4d4d4d">
                    FEATURED PRODUCTS
                </h1>
            </div>
        </div>
    </div>
    <div class="container-fluid px-3">
      <div class="row row-cols-2 row-cols-md-3 row-cols-lg-3 g-2 g-lg-3 pb-3">
          {%if featured_products %}
          {% for ft in featured_products %}
            <div class="col">
                <div class="card h-100">
                    <div class="p-2" style="position: relative">
                        <div>
                        <a href="/{{ft.gender}}/{{ft.category}}/a={{ft.art_no}}&l={{ft.leather_1}}">
                            <img src="{% static 'images/article/thumbnil/' %}{{ft.art_no.strip }}_{{ft.leather_1.strip }}_0.jpg" class="card-img-top img-fluid" alt="{{ft.art_no}}">
                            <div class="row text-center m-0 p-0" style="position: absolute;top:0;left:0;z-index:1;bottom:0;right:0;height:100%;letter-spacing:2px;">
                                <div class="align-self-center card_selection">
                                    <p class="display-6" style="color:#FFFFFF;">
                                        <span class="rounded-1" style="background: rgb(255, 255, 255);padding: 3vw 3vw;color:rgb(0,0,0);font-size: 2vw;">
                                            Details
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </a>
                        </div>
                    </div>
                  <div class="card-body py-0">
                    <h5 class="card-title h4 mb-2">{{ft.art_no.strip }}</h5>
                  </div>
                  <ul class="list-group list-group-flush py=0">
                      <li class="list-group-item"><span class="h6" style="font-size: 15px;">GENDER:</span> {{ft.gender.strip }}</li>
                      <li class="list-group-item"><span class="h6" style="font-size: 15px;">CATEGORY:</span> <span style="text-transform: uppercase;">{{ft.category.strip }}</span></li>
                      <li class="list-group-item">
                            {%if ft.art_count == 1 %}
                                <span class="h6">COLOR:</span>
                            {% else %}
                                <span class="h6">COLORS:</span>
                            {% endif %}
                            {{ft.art_count}}
                      </li>
                  </ul>
                    <div class="card-body row text-end">
                        <div class="col align-self-end">
                            <a href="#" class="btn btn-secondary"><i class="bi bi-cart-plus"></i></a>
                        </div>
                    </div>

                </div>
            </div>
          {% endfor %}
          {% endif %}
        </div>
    </div>
</div>
{% include "./footer.html" %}

</body>
</html>
