<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{{gender}}</title>
    {% load static %}
</head>
<body>
{% include "./header.html" %}
<div class="container-fluid pt-3">
    <div class="row">
        {% include "./sidebar.html" %}
        <div class="col-lg-10 ps-0 ">
            <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-2 g-lg-3 pb-3">
              {%if page_wise_gender_collection %}
              {% for shoe in page_wise_gender_collection %}
                <div class="col">
                    <div class="card h-100">
                        <div class="p-2" style="position: relative">
                            <div>
                            <a href="/{{shoe.gender}}/{{shoe.category}}/a={{shoe.art_no}}&l={{shoe.leather_1}}">
                                <img src="{% static 'images/article/thumbnil/' %}{{shoe.art_no.strip }}_{{shoe.leather_1.strip }}_0.jpg" class="card-img-top img-fluid" alt="{{shoe.art_no}}">
                                <div class="row text-center m-0 p-0" style="position: absolute;top:0;left:0;z-index:1;bottom:0;right:0;height:100%;letter-spacing:2px;">
                                    <div class="align-self-center card_selection">
                                        <p class="display-6" style="color:#FFFFFF;">
                                            <span class="rounded-1" style="background: rgb(255, 255, 255);padding: 3vw 3vw;color:rgb(0,0,0);font-size: 2vw;">
                                                Details
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </a>
                            </div>
                        </div>
                      <div class="card-body py-0">
                        <h5 class="card-title h4 mb-2">{{shoe.art_no.strip }}</h5>
                      </div>
                      <ul class="list-group list-group-flush py=0">
                          <li class="list-group-item"><span class="h6" style="font-size: 15px;">GENDER:</span> {{shoe.gender.strip }}</li>
                          <li class="list-group-item"><span class="h6" style="font-size: 15px;">CATEGORY:</span> <span style="text-transform: uppercase;">{{shoe.category.strip }}</span></li>
                          <li class="list-group-item">
                                {%if shoe.art_count == 1 %}
                                    <span class="h6">COLOR:</span>
                                {% else %}
                                    <span class="h6">COLORS:</span>
                                {% endif %}
                                {{shoe.art_count }}
                          </li>
                      </ul>
                        <div class="card-body row text-end">
                            <div class="col align-self-end">
                                <a href="#" class="btn btn-secondary"><i class="bi bi-cart-plus"></i></a>
                            </div>
                        </div>

                    </div>
                </div>
              {% endfor %}
              {% elif  page_wise_category_collection %}
              {% for shoe in  page_wise_category_collection %}
              <div class="col">
                <div class="card h-100">
                    <div class="p-2" style="position: relative">
                        <div>
                        <a href="/{{shoe.gender}}/{{shoe.category}}/a={{shoe.art_no}}&l={{shoe.leather_1}}">
                            <img src="{% static 'images/article/thumbnil/' %}{{shoe.art_no.strip }}_{{shoe.leather_1.strip }}_0.jpg" class="card-img-top img-fluid" alt="{{shoe.art_no}}">
                            <div class="row text-center m-0 p-0" style="position: absolute;top:0;left:0;z-index:1;bottom:0;right:0;height:100%;letter-spacing:2px;">
                                <div class="align-self-center card_selection">
                                    <p class="display-6" style="color:#FFFFFF;">
                                        <span class="rounded-1" style="background: rgb(255, 255, 255);padding: 3vw 3vw;color:rgb(0,0,0);font-size: 2vw;">
                                            Details
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </a>
                        </div>
                    </div>
                  <div class="card-body py-0">
                    <h5 class="card-title h4 mb-2">{{shoe.art_no.strip }}</h5>
                  </div>
                  <ul class="list-group list-group-flush py=0">
                      <li class="list-group-item"><span class="h6" style="font-size: 15px;">GENDER:</span> {{shoe.gender.strip }}</li>
                      <li class="list-group-item"><span class="h6" style="font-size: 15px;">CATEGORY:</span> <span style="text-transform: uppercase;">{{shoe.category.strip }}</span></li>
                      <li class="list-group-item">
                            {%if shoe.art_count == 1 %}
                                <span class="h6">COLOR:</span>
                            {% else %}
                                <span class="h6">COLORS:</span>
                            {% endif %}
                            {{shoe.art_count }}
                      </li>
                  </ul>
                  <div class="card-body row text-end">
                      <div class="col align-self-end">
                          <a href="#" class="btn btn-secondary"><i class="bi bi-cart-plus"></i></a>
                      </div>
                  </div>
                </div>
              </div>
              {% endfor %}
              {% endif %}
            </div>
            {% if gender_collection_pagination %}
                <ul class="pagination pagination-lg justify-content-center ">
                    {% if not gender_page_has_previous %}
                    <li class="page-item disabled">
                        <a class="page-link">Previous</a>
                    </li>
                    {% elif gender_page_has_previous %}
                     <li class="page-item">
                        <a class="page-link" href="/{{gender}}/pg={{gender_page_previous}}">Previous</a>
                    </li>
                    {% endif %}
                    {% for pages in gender_collection_pagination.page_range %}
                       {% if pages is gender_current_page %}
                        <li class="page-item active">
                            <a class="page-link" href="/{{gender}}/pg={{pages}}">{{pages}}</a>
                        </li>
                        {% else %}
                        <li class="page-item ">
                            <a class="page-link" href="/{{gender}}/pg={{pages}}">{{pages}}</a>
                        </li>
                        {% endif %}
                    {% endfor %}
                    {% if not gender_page_has_next %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#">Next</a>
                    </li>
                    {% elif gender_page_has_next %}
                     <li class="page-item">
                        <a class="page-link" href="/{{gender}}/pg={{gender_page_next}}">Next</a>
                    </li>
                    {% endif %}
                </ul>
            {% endif %}
            {% if category_collection_pagination %}
                <ul class="pagination pagination-lg justify-content-center secondary">
                    {% if not category_page_has_previous %}
                    <li class="page-item disabled">
                        <a class="page-link">Previous</a>
                    </li>
                    {% elif category_page_has_previous %}
                     <li class="page-item">
                        <a class="page-link" href="/{{gender}}/{{category}}/pg={{category_page_previous}}">Previous</a>
                    </li>
                    {% endif %}
                    {% for pages in category_collection_pagination.page_range %}
                       {% if pages is category_current_page %}
                        <li class="page-item active">
                            <a class="page-link" href="/{{gender}}/{{category}}/pg={{pages}}">{{pages}}</a>
                        </li>
                        {% else %}
                        <li class="page-item">
                            <a class="page-link" href="/{{gender}}/{{category}}/pg={{pages}}">{{pages}}</a>
                        </li>
                        {% endif %}
                    {% endfor %}
                    {% if not category_page_has_next %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#">Next</a>
                    </li>
                    {% elif category_page_has_next %}
                     <li class="page-item">
                        <a class="page-link" href="/{{gender}}/{{category}}/pg={{category_page_next}}">Next</a>
                    </li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>
    </div>
</div>
{% include "./footer.html" %}
</body>
</html>